<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.laundry02">
    <!-- 인터넷 권한 선언 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".user_forpay"></activity>
        <activity android:name=".owner_info1" />
        <activity android:name=".owner_item_add_del_up_del" />
        <activity android:name=".owner_item_add_del_add" />
        <activity android:name=".user_info1" />
        <activity android:name=".user_storereview" />
        <activity android:name=".user_itembasket" />
        <activity android:name=".user_itempage" />
        <activity android:name=".owner_item_add_del" />
        <activity android:name=".owner_logout" />
        <activity android:name=".owner_review_management" />
        <activity android:name=".owner_info" />
        <activity android:name=".owner_gongji_management" />
        <activity android:name=".owner_order_y_n" />
        <activity android:name=".user_logout" />
        <activity android:name=".user_order_record" />
        <activity android:name=".user_now_order" />
        <activity android:name=".user_review" />
        <activity android:name=".user_info" />
        <activity android:name=".user_changelocation" />
        <activity android:name=".user_gongji" />
        <activity android:name=".owner_main" />
        <activity android:name=".user_main1" />
        <activity android:name=".forgot_id_pw" />
        <activity android:name=".mainloading" />
        <activity android:name=".owner_login" />
        <activity android:name=".owner_signup4" />
        <activity android:name=".owner_signup3" />
        <activity android:name=".owner_signup2" />
        <activity android:name=".owner_signup1" />
        <activity android:name=".user_login" />
        <activity android:name=".user_signup4" />
        <activity android:name=".user_signup3" />
        <activity android:name=".user_signup2" />
        <activity android:name=".user_signup1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Human" />
        <activity android:name=".HumanAdpter" />
        <activity android:name=".ImageActivity" />
        <activity android:name=".Human_owner" />
        <activity android:name=".HumanAdpter_owner" />
        <activity android:name=".ImageActivity_owner" />
        <activity android:name=".user_itempage_list" />
        <activity android:name=".user_itempage_Adpter" />
        <activity android:name=".user_storereview_Adpter" />
        <activity android:name=".user_storereview_list" /> <!-- 구글 API -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCVgBM9ZWqFJdEPp_QgpLsqMxQIb3qqEBI" />
    </application>

</manifest>