@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.header{
   padding-top: 24px;
   z-index: 1;
   background-color:black;
}

.headerWrapper{
   justify-content: space-between;
}


.left{
   font-size: 36px;
   color: azure;
   margin-bottom: 10px;
}

.right{
  font-size: 16px;
  color: azure;
}
